:root {
  --accent-light: #449399;
  --accent-dark: #313c4e;
  --nav-fill: #f3f4f6;
  --nav-item-clr: #5c616a;
  --grey-out-clr: #9ca3af;
  --font: "Nunito", sans-serif;
  --fil-drop-sh: drop-shadow(0 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
  scroll-padding-top: 3.8rem;
}

body {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

body,
button {
  font-family: var(--font);
  font-size: 1.6rem;
}

#top-h,
#hero-h {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
}

#top-h {
  padding: 16px 20px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--accent-light);
}

#download-cv-btn {
  padding: 0.5rem;
  background-color: #fff;
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.6rem;
  filter: var(--fil-drop-sh);
}

#lang-bar,
#sr,
#en {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lang-bar {
  column-gap: 1.3rem;
}

#sr,
#en {
  column-gap: 0.5rem;
  background-color: #fff;
  border: 0;
}

#hero-h {
  padding: 2.4rem 0;
  column-gap: 2rem;
}

#hero-h-l,
#hero-h-m,
#hero-h-r {
  flex: 1 1 0;
  display: flex;
}

#hero-h-l,
#hero-h-r {
  flex-direction: column;
}

#hero-h-l {
  padding-left: 2rem;
}

#name {
  padding: 1rem 0;
}

#developer {
  padding-bottom: 1rem;
}

#hero-h-m {
  flex: 0 0 33.33%;
  flex-direction: row;
  justify-content: center;
}

#hero-h-m > img {
  border: 3px solid var(--accent-light);
  border-radius: 50%;
}

#hero-h-r {
  padding-right: 2rem;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0.9rem;
}

#hero-h-r > a {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#primary-nav {
  background-color: var(--nav-fill);
  border-bottom: 0.1rem solid black;
  filter: var(--fil-drop-sh);
  position: sticky;
  top: 0;
}

#primary-nav ul {
  display: flex;
  justify-content: center;
  column-gap: 3.2rem;
  padding: 0.8rem 2rem;
  list-style: none;
}

#primary-nav ul li a {
  color: var(--nav-item-clr);
}

#primary-nav ul li a:hover {
  color: var(--accent-light);
}

#primary-nav ul li a.active {
  color: var(--accent-light);
  font-weight: 600;
}

.section-flex {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  padding: 1.6rem 2rem;
}

section > a,
section > a:link,
section > a:visited {
  text-transform: uppercase;
  color: var(--accent-light);
}

.section-title {
  display: flex;
  row-gap: 1.6rem;
  column-gap: 0.8rem;
}

.card {
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.card-title {
  padding-bottom: 0.8rem;
  background-color: rgba(255, 255, 255, 0.048);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card-subtitle {
  padding-bottom: 0.4rem;
  font-weight: 600;
}

.card-details {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 1rem;
}

.card-details > p,
.verify-link {
  font-size: 1.4rem;
  padding-right: 2rem;
  color: var(--grey-out-clr);
}

.card-text {
  padding-left: 2rem;
}

.card-skills {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
}

.category {
  font-weight: 700;
  text-align: right;
}

.item {
  text-align: left;
}

.lang-container {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 1rem;
}

.lang-container:not(:last-child) {
  padding-bottom: 1rem;
}

.dot {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid var(--accent-dark);
  border-radius: 50%;
  margin-inline: 0.5rem;
}

.dot:first-of-type {
  margin-left: 2rem;
}

.black {
  background-color: var(--accent-dark);
}

#certificates > .card > .card-title {
  text-transform: none;
}

.verify-link {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

a.verify-link {
  color: var(--grey-out-clr);
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.6rem;
}

.projects-container > .card > .card-title {
  text-transform: capitalize;
}

.projects-container > .card > .card-title,
.projects-container > .card > p {
  text-align: center;
}

.projects-container > .card > .card-details {
  justify-content: center;
}

.project-desc {
  padding-bottom: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.tag {
  color: #fff;
  font-size: 1.4rem;
  background-color: var(--accent-light);
  border-radius: 1rem;
  padding-inline: 0.8rem;
}

.github-button {
  width: fit-content;
  background-color: var(--accent-dark);
  border-radius: 1rem;
  margin: 1rem auto 0;
  padding: 0.3rem 1rem;
  /* inside */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
}

.github-button > p {
  color: #fff;
}

.nested-ul > li {
  list-style-type: disc;
}

.paper-title {
  font-weight: 700;
  text-indent: -1.9rem;
  margin-left: 2rem;
}

.paper-authors {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -2.2rem;
  margin-left: 4.4rem;
}

.dark-bg {
  background-color: var(--accent-dark);
}

footer {
  text-align: center;
  background-color: var(--nav-fill);
  box-shadow: 0.2rem 0rem 0.4rem rgba(0, 0, 0, 0.25);
  padding: 1.6rem 0;
}

.pyxl-url {
  font-weight: 700;
}
