:root {
  --dark-color: #313c4e; /*box on left*/
  --accent-color: #449399;
  --lighter-text: #414141;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
}

html {
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  max-width: 1000px; /* radi smanjivanje responsive, prvi prelom 940px width*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  color: #449399;
}

#container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
}

#header-left,
#header-right {
  flex: 37.5%;
  /* flex-basis: 375px; */
}

#header-left > h1 {
  color: var(--dark-color);
  padding-bottom: 10px;
}

#header-left > h2 {
  color: var(--accent-color);
  padding-bottom: 20px;
  font-weight: 400;
}

#header-left p {
  color: black;
}

#header-middle > img {
  width: 150px;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  margin-top: 25px;
}

#header-right {
  text-align: right;
  color: black;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

a:link,
a:visited {
  text-decoration: underline;
  text-decoration-color: #449399;
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--accent-color);
  font-weight: 700;
}

#email {
  padding-top: 15px;
}

#header-right > p {
  padding-bottom: 15px;
}

#envelope,
#phone,
#calender,
#git,
#linkedin {
  width: 27px;
  padding-left: 5px;
  vertical-align: middle;
}

#black-box {
  position: absolute;
  height: 70px;
}

.bx1 {
  transform: translate(-45px, -90px);
}

.accent-bx {
  filter: invert(56%) sepia(6%) saturate(2990%) hue-rotate(136deg)
    brightness(91%) contrast(87%);
}

.work-bx {
  transform: translateX(-23px);
}

.skills-bx {
  transform: translate(-45px, -45px);
}

.edu-bx,
.cert-bx {
  transform: translate(-46px, -5px);
}

.proj-bx {
  transform: translate(-45px, -15px);
}

.extra-bx {
  transform: translate(-45px, -60px);
}

.papers-bx {
  transform: translate(-45px, 0px);
}

.bx2 {
  transform: translate(-45px, -0px);
}

.bx3,
.bx4 {
  transform: translate(-35px, 3px);
}

.flex {
  display: flex;
}

.flex:first-child {
  flex: 0 1 auto;
}

.title {
  padding: 20px 0 20px 23.328px;
  text-align: left;
  font-size: 26px;
}

/* line thinghy */
.border {
  flex: 1 1 auto;
  margin-left: 6px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  margin-right: 10px;
}

.container {
  margin: 0;
  padding: 0 23.328px 10px;
  color: var(--lighter-text);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.institution {
  flex: 70%;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
}

.institution.one-line {
  flex: 100%;
}

.duration,
.place {
  color: var(--accent-color);
  flex: 30%;
  text-align: end;
  font-style: italic;
}

.program {
  flex: 50%;
  font-size: 16px;
  padding: 5px 0 5px 0;
  text-align: left;
}

.program.modul {
  flex: 60%;
}

.program.modul + .duration {
  flex: 40%;
}

.full-width {
  flex: 100%;
}

.modul {
  font-weight: 700;
}

#work ul {
  margin: 0;
  padding-left: 25px;
}

#work li {
  padding: 0 0 10px 5px;
}

li {
  padding-left: 10px;
}

.skill {
  flex: 1 1 20%;
  font-weight: bold;
  text-align: right;
  padding-right: 25px;
}

.skill-desc {
  flex: 1 1 80%;
}

.skill-desc-shorter {
  flex: 1 1 40%;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 50%;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
}

.dotw {
  background-color: #fff;
}

.skill-desc-shorter > .dot:first-of-type {
  margin-left: 20px;
}

.dot2 {
  vertical-align: text-top;
}

#skills p {
  padding-bottom: 5px;
}

.sf-projects {
  padding-top: 10px;
}

.sf-projects > li {
  padding: 5px 0;
}

.tags {
  padding-top: 10px;
}

#info-container {
  justify-content: center;
}

.bordered {
  flex: 0 0 30%;
  justify-content: center;
  border: 1px solid var(--dark-color);
  border-radius: 7px;
  padding: 7px 12px;
  margin-inline: 5px;
  margin-bottom: 15px;
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 919px) {
  #container-header {
    display: block;
    text-align: center;
  }

  #header-left {
    display: flex;
    flex-wrap: wrap;
  }

  #header-left h1,
  h2,
  p {
    flex: 1 0 100%;
  }

  #header-right {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  #work > .flex > h2,
  #skills > .flex > h2,
  #education > .flex > h2,
  #certificates > .flex > h2,
  #projects > .flex > h2,
  #extracurricular > .flex > h2,
  #papers > .flex > h2 {
    flex: 0 1 auto;
  }

  .bx2 {
    transform: translate(-22px);
  }

  .skills-bx {
    display: inline-block;
    transform: translate(-45px, -45px);
  }

  .bx4 {
    transform: translate(-33px);
  }

  #header-right p {
    padding: 25px 0 0;
    flex: 1 1 auto;
  }

  #header-right img {
    height: 30px;
  }

  #other-info > div > h2 {
    padding: 0 0 20px 0;
    text-align: center;
  }
}

@media only screen and (max-width: 856px) {
  .extra-bx {
    transform: translate(-45px, -72px);
  }
}

@media only screen and (max-width: 851px) {
  .extra-bx {
    transform: translate(-45px, -80px);
  }
}

@media only screen and (max-width: 829px) {
  .bordered {
    flex: 0 0 auto;
  }
}

@media only screen and (max-width: 757px) {
  .extra-bx {
    transform: translate(-45px, -90px);
  }
}

@media only screen and (max-width: 695px) {
  .extra-bx {
    transform: translate(-45px, -100px);
  }
}

@media only screen and (max-width: 665px) {
  div[id*="work-"],
  #ita-container,
  #msc-container,
  #bsc-container,
  #cert1-container,
  #cert2-container,
  #proj-invoice,
  #proj-img2pdf,
  #proj-pdfparser,
  #extra-container {
    display: block;
  }

  div[id*="work-"] > .institution,
  .place,
  .program.modul,
  .duration,
  #ita-container > .institution,
  .place,
  .program.modul,
  .duration,
  .program,
  #msc-container > .institution,
  .place,
  .program.modul,
  .duration,
  .program,
  #bsc-container > .institution,
  .place,
  .program.modul,
  .duration,
  .program,
  #cert1-container > .institution,
  .program.modul,
  .duration,
  .program,
  #cert2-container > .institution,
  .program.modul,
  .duration,
  .program,
  #proj-invoice > .institution,
  .duration,
  .program,
  #proj-img2pdf > .institution,
  .duration,
  .program,
  #proj-pdfparser > .institution,
  .duration,
  .program,
  #extra-container > .institution,
  .place,
  .program.modul,
  .duration {
    text-align: center;
    padding-bottom: 5px;
  }

  #skills.container {
    display: block;
  }

  #skills,
  #skills p {
    text-align: center;
  }

  #skills > img {
    display: block;
    transform: translate(-45px, 0px);
  }

  #skills > p {
    padding: 5px;
  }

  .extra-bx {
    transform: translate(-45px, 0);
  }
}

@media only screen and (max-width: 482px) {
  .institution,
  .duration {
    flex: auto;
  }

  #work-3 {
    display: block;
  }

  #skills,
  #ita-container,
  #project-container,
  #extra-container {
    display: block;
  }

  #skills,
  #skills p,
  #project-container p,
  #extra-container p {
    text-align: center;
  }

  #skills > img {
    display: block;
  }

  #skills > p {
    padding: 5px;
  }

  #project-container p,
  #extra-container p {
    padding-bottom: 10px;
  }
}
